src/wsdl/localhost_8080/BankWS/InterestRateService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://bankws.what.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bankws.what.com/">

<xs:element name="getInterestRate" type="tns:getInterestRate"/>

<xs:element name="getInterestRateResponse" type="tns:getInterestRateResponse"/>

<xs:complexType name="getInterestRate">
<xs:sequence>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="creditScore" type="xs:int"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="loanDuration" type="xs:int"/>
<xs:element name="replyTo" type="xs:string" minOccurs="0"/>
<xs:element name="corrId" type="xs:string" minOccurs="0"/>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
<xs:element name="total" type="xs:int"/>
<xs:element name="messageNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInterestRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>